@charset "utf-8";

*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar{
            height: 0px;
            width: 0px;

        }
        img{
            width: 100vw;

        }

        a{
            display:block;
            background-color: brown;
            text-align: center;
            color: white;
           padding: 10px;
           
        }
        a:hover{
            background-color: red;

        }

  