@charset "utf-8";


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}

header{
    background-color:yellow;
    color: black;
    padding-top: 40px;
    padding-bottom: 40px;
}
header h1{
    text-align: center;

}
main h2{
    text-align: center;
background-color: yellow;
color: black;
padding-top: 28px;
padding-bottom: 28px;
}
   



