@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136,100,93, 0.524 ); 
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: rgb(204, 226, 122);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(112, 124, 67)

}
h2{
    color: rgb(78, 78, 131);
    text-shadow: 1px 1px 2px rgba(65, 65, 107, 0.671) ;
}
p{
    text-align: justify;
 
}